<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InkGraph.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
 <userSettings>
  <InkGraph.Properties.Settings>
   <setting name="HighlightInEdges" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="HighlightOutEdges" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DefaultEdgeColor" serializeAs="String">
    <value>LightSlateGray</value>
   </setting>
   <setting name="DefaultEdgeLineWidth" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ArrowheadLength" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="DefaultNodeColor" serializeAs="String">
    <value>DarkSlateGray</value>
   </setting>
   <setting name="DefaultNodeLineWidth" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="HighlightedInEdgeColor" serializeAs="String">
    <value>Blue</value>
   </setting>
   <setting name="HighlightedOutEdgeColor" serializeAs="String">
    <value>Red</value>
   </setting>
   <setting name="HighlightedEdgeLineWidth" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="HighlightedInNodeColor" serializeAs="String">
    <value>Blue</value>
   </setting>
   <setting name="HighlightedOutNodeColor" serializeAs="String">
    <value>Red</value>
   </setting>
   <setting name="HighlightedNodeLineWidth" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="StartNodeFill" serializeAs="String">
    <value>166, 223, 157</value>
   </setting>
   <setting name="EndNodeFill" serializeAs="String">
    <value>122, 179, 255</value>
   </setting>
   <setting name="OrphanNodeFill" serializeAs="String">
    <value>224, 210, 227</value>
   </setting>
   <setting name="ShowTooltips" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="NodeSeparation" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="NodeFontSize" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="ToolTipFontSize" serializeAs="String">
    <value>15</value>
   </setting>
  </InkGraph.Properties.Settings>
 </userSettings>
</configuration>